<p id="notice"><%= notice %></p>



<!-- <p>
  <strong>Submission for:</strong>
  <%= @submission.mission.title %>
</p>

<p>
  <strong>Pitch submission:</strong>
  <%= image_tag @submission.image.url %>
</p>


<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Story:</strong>
  <%= @submission.story %>
</p>

<p>
  <strong>Price:</strong>
  <%= @submission.price %>
</p>

<p>
  <strong>Submission by:</strong>
  <%= @submission.user.email %>
</p>



<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
 -->
<br>
<br>
<br>
<br>

<div class="col-md-8.col-md-offset-2">
 <div class="container">
   <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= image_tag @submission.image.url(:medium), class: "img-responsive center-block" %>
      </div>

      <div class="panel-body">

      <div class="mission-title-container-list mission-desc-list">
               Submission title: <span class="mission-title-list"><%= @submission.title %></span>
             </div>
            <!-- </div> -->
            <!-- <div class="panel-heading"> -->
             <div class="mission-title-container-list mission-desc-list">
               Story: <span class="mission-title-list"><%= @submission.story %></span>
             </div>
        
      </div>
            

        <div class="panel-footer">
        <div class="mission-title-container-list mission-desc-list">
               Price: <span class="mission-title-list"><%= number_to_currency(@submission.price) %></span>
             </div>
        </div>
        
      </div>
      
    </div>

   </div>

 </div>

</div>
