<p id="notice"><%= notice %></p>

<p>
  <strong>Submission for:</strong>
  <%= @submission.mission.title %>
</p>


<p>
  <strong>Title:</strong>
  <%= @submission.title %>
</p>

<p>
  <strong>Story:</strong>
  <%= @submission.story %>
</p>

<p>
  <strong>Price:</strong>
  <%= @submission.price %>
</p>

<p>
  <strong>Submission by:</strong>
  <%= @submission.user.email %>
</p>



<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
