<p id="notice"><%= notice %></p>



<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Requirements</th>
      <th>Budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @launch.each do |mission| %>
      <tr>
        <td><%= mission.title %></td>
        <td><%= mission.description %></td>
        <td><%= mission.requirements %></td>
        <td><%= mission.budget %></td>
        <td><%= link_to 'Show', mission %></td>
        <td><%= link_to 'Edit', edit_mission_path(mission) %></td>
        <td><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mission', new_mission_path %>
 -->

  <div class="container-fluid">
    <div class="post-container">
      <div class="search-list-container">
        <form>
          <input type="text" name="search" class="search-list" placeholder="Search missions">
        </form>
      </div>

      <div class="launch-mission-list-container"> Got a new project?
        <%= link_to(new_mission_path) do %>
        <button type="button" class="launch-mission-list">+ Launch a mission</button>
        <% end %>
      </div>

        <ul>

          <% @launch.each do |mission| %>
            <%= link_to(mission, style: "text-decoration:none") do %>
            <li>
              <div class="list-box">
                <div class="mission-title-container-list"> <span class="mission-title-list"><%= truncate(mission.title, length: 80) %></span> </div>
                <div class="date-posted-container-list"> <span class="date-posted-list"><%= time_ago_in_words(mission.created_at) %></span> </div>
                <div class="mission-desc-container-list"> <span class="mission-desc-list"><%= truncate(mission.description, length: 280) %></span> </div>
                <div class="reactions-container-list">
                  <div class="slots-number"><span class="slots-left"><%= mission.submissions.count %></span>/<span>33</span></div>
                </div>
              </div>
            </li>
            <% end %>
          <% end %>

        </ul>



    </div>
  </div>

  <br>
  <br>