<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mission.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mission.description %>
</p>

<p>
  <strong>Requirements:</strong>
  <%= @mission.requirements %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @mission.budget %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @mission.user.try(:email) %>
</p>

<%= is_mission_owner %>

<%= link_to 'Edit', edit_mission_path(@mission) %> |
<%= link_to 'Back', missions_path %>
