<!DOCTYPE html>
<html>
  <head>
    <title>AlphaOrbitrr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
  </head>

  <body class="newsfeed">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"><i class="fa fa-bars"></i> </button>
            <a class="navbar-brand page-scroll" href="#page-top"> 
            <%= image_tag "site-logo-beta.png" %></a>
        </div>
      </div>
    </nav>


  	<p id="alert"><%= alert %></p>
    <%= yield %>

    <div class="navbar navbar-default navbar-fixed-bottom footer-search-container">
      <div class="container footer-container">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-search">
          <%= link_to(missions_launch_path) do %>
            <input type="reset" class="footer-search-button" name="launch" value="Launch">
          <% end %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-search">
          <%= link_to(missions_path) do %>
            <input type="submit" class="footer-search-button" name="capture" value="Capture">
          <% end %>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-search">
          <input type="submit" class="footer-search-button" name="pitch" value="Pitch"> 
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 footer-search">
          <input type="submit" class="footer-search-button" name="connect" value="Connect"> 
        </div>
      </div>
    </div>

  </body>
</html>
